{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- time displaying incorrectly one hour behind local time in Dublin -->
<article class="cpd-entry">
<header>
    <h2>{{ entry.title }}</h2>
    <hr>
    <p><strong>Date:</strong>{{ entry.date|date:'d-m-Y H:i' }}</p>
        <!-- CPD credits values need to be changed to whole numbers or add text to advise, time = credits -->
    <!-- Time spent, possible need to change numeric display to minutes for ease of use for user -->
    <p><strong>Cpd credits:</strong> {{ entry.cpdCredits }}</p>
    <p><strong>Time Spent:</strong>{{ entry.timeSpent }}<strong</p>
</header>
<ul>
    <li><strong>Learning Outcome:</strong> {{ entry.learningOutcome }}</li>
    <li><strong>Type of learning activity:</strong> {{ entry.activityType }}</li>
    <li><strong>Impact on practice:</strong> {{ entry.practiceImpact }}</li>
</ul>
<hr>
<p>Remember Approx. 1 CPD credit for every hour of new or enhanced learning achieved.</p>
</article>
{% if request.user.is_authenticated and entry.user.pk == request.user.pk %}
<p>
    <a href="{% url 'entry-update' entry.id %}">✍️ Edit Diary Entry</a>
    <a href="{% url 'entry-delete' entry.id %}">⛔ Delete Diary Entry</a>
</p>
{% endif %}
<p>Back to</p><a href="{% url 'entry-list' %}"> previous entries</a></p>
{% endblock %}