{% extends "cpddiary/base.html" %}

{% block content %}
<a href="{% url 'entry-list' %}">Go Back</a>
<!-- Bootstrap form goes here! -->
    <form method="post">{% csrf_token %}
        <p>
            Are you sure you want to delete this diary entry?
            <em>"{{ entry.title }}"</em>
            created on {{ entry.date_created|date:'Y-m-d' }}?
        </p>
        <input type="submit" value="Confirm">
    </form>
    <a href="{% url 'entry-detail' entry.id %}">
        <button>Cancel</button>
    </a>
{% endblock %}