{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2 d-flex justify-content-between">
        <a href="{% url 'entry-list' %}" class="btn btn-outline-primary">Go Back</a>
        <form method="post">{% csrf_token %}
          <p>
            Are you sure you want to delete this diary entry?
            <em>"{{ entry.title }}"</em>
            created on {{ entry.date_created|date:'Y-m-d' }}?
          </p>
          <input type="submit" value="Confirm" class="btn btn-outline-danger">
        </form>
        <a href="{% url 'entry-detail' entry.id %}" class="btn btn-outline-success">
          Cancel
        </a>
      </div>
    </div>
  </div>
{% endblock %}