{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="card border-primary mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
    <h2 class="card-title card border-info mb-3">{{ entry.title }}</h2>
    <hr>
    <p class="card-text"><strong>Date:</strong> {{ entry.date|date:'d-m-Y' }}</p>
    <p class="card-text"><strong>Cpd credits:</strong> {{ entry.cpdCredits }}</p>
    <p class="card-text"><strong>Time Spent:</strong> {{ entry.timeSpent }}</p>
  </div>
  <hr>
  <h5 class="card-subtitle mb-2 text-muted">Learning Outcome:</h5>
  <p class="card-text">{{ entry.learningOutcome }}</p>
  <h5 class="card-subtitle mb-2 text-muted">Type of learning activity:</h5>
  <p class="card-text">{{ entry.activityType }}</p>
  <h5 class="card-subtitle mb-2 text-muted">Impact on practice:</h5>
  <p class="card-text">{{ entry.practiceImpact }}</p>
  <hr>
  </div>
    <hr>
    <p class="card-text">Remember Approx. 1 CPD credit for every hour of new or enhanced learning achieved.</p>
  </div>
</div>

<div class="container">
    <div class="row justify-content-center" style="border: 1px solid rgb(42, 53, 196); padding: px; border-radius: 5px; box-shadow: 2px 2px 5px gray; padding: 20px;">
      <div class="col-md-8 mt-3">
        {% if request.user.is_authenticated and entry.user.pk == request.user.pk %}
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'entry-update' entry.id %}" class="btn btn-outline-primary">Edit Diary Entry</a>
    <a href="{% url 'entry-delete' entry.id %}" class="btn btn-outline-danger">Delete Diary Entry</a>
    {% endif %}
    <a href="{% url 'entry-list' %}" class="btn btn-outline-success">Back to your Diary</a>
  </div>
</div>
</div>
</div>
{% endblock %}