{% extends "base.html" %}

{% load static %}

{% block content %}
<h3>Cpd Entry</h3>
<a href="{% url 'entry-list' %}" class="btn btn-outline-primary">Go Back</a>
<form method="POST" action="{% url 'entry-update' pk=entry.id %}">
    {% csrf_token %}
         <!--https://getbootstrap.com/docs/4.0/components/forms/-->
         <div class ="form-group">
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Title:</label>
                {{ form.title }}
                {{ form.title.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.learningOutcome.id_for_label }}">Learning Outcome:</label>
                {{ form.learningOutcome }}
                {{ form.learningOutcome.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.activityType.id_for_label }}">Activity Type:</label>
                {{ form.activityType }}
                {{ form.activityType.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.timeSpent.id_for_label }}">Time Spent:</label>
                {{ form.timeSpent }}
                {{ form.timeSpent.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.cpdCredits.id_for_label }}">CPD Credits:</label>
                {{ form.cpdCredits }}
                {{ form.cpdCredits.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.practiceImpact.id_for_label }}">Practice Impact:</label>
                {{ form.practiceImpact }}
                {{ form.practiceImpact.errors }}
            </div>
            <input type="submit" value="Save" class="btn btn-outline-primary">
</form>
</div>
{% if entry %}
<a href="{% url 'entry-detail' entry.id %}" class="btn btn-outline-primary">Cancel</a>
</div>
{% else %}
<a href="{% url 'entry-list' %}" class="btn btn-outline-primary">Cancel</a>
<br>
<br>

{% endif %}
{% endblock %}