{% extends "base.html" %}

{% load static %}

{% block content %}



<div class="col-12 d-flex flex-wrap justify-content-center">
    <div class="card auth-card m-4">
        <div class="card-body text-center">
            <div class="card" style="width: 18rem;">
                <img src="https://res.cloudinary.com/dgyi5uhu9/image/upload/v1694206348/karl-hedin-jgPcjw2tBVc-unsplash_zfvxdt.jpg" class="card-img-top" alt="Broken-Glasses-404">
                <div class="card-body">
                    <h5 class="card-title">Oh no ERROR: 500</h5>
                    <p class="card-text">The page you requested could not be found.
                        </p>
                    <a href="{% url 'home' %}" class="btn btn-primary">Go Back</a>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}