{% extends "cpddiary/base.html" %}

{% block content %}
<h1>CPD FAQ</h1>
<!-- Text for CPD FAQ TAKEN From https://www.coru.ie/health-and-social-care-professionals/education/continuing-professional-development/cpd-faqs/-->
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            What is CPD?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Continuing professional development (CPD)</strong> is the means by which health and social care professionals maintain and improve their knowledge,
           skills and performance, and develop the professional qualities required throughout their professional life.
          CPD is an integral component in the continuing provision of safe and effective services for the benefit of service users.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         How many CPD credits do I need to accrue?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>30 CPD credits.</strong> It is expected that at minimum you can demonstrate achieving 30 CPD credits in every 12-month period.
          This demonstrates ongoing engagement in CPD.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Why is CPD important?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Active engagement</strong>Active engagement in CPD is critical to ensuring that registrants continue to have the up to date knowledge and skills necessary to deliver a safe and effective service to service users.
        </div>
      </div>
    </div>
  </div>


   
{% endblock %}