{% extends "base.html" %}

{% load static %}

{% block content %}

<body>

<main>

<!--index page styling taken from bootstrap carousel template https://getbootstrap.com/docs/4.0/examples/ -->
<div class="p-5 mb-4 bg-body-tertiary rounded-3" style="background-image: url('https://res.cloudinary.com/dgyi5uhu9/image/upload/v1693948991/ashley-west-edwards-AjcVTjCz310-unsplash_cleanup_ds0oo7.png'); background-size: cover; background-position: center;" alt="diary and a desk">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">EYE<sub>|contribute</sub></h1>
    <p class="col-md-8 fs-4" class="intro">A virtual CPD diary for the 
      <p class="col-md-8 fs-4" class="intro">Optometrist </p>
      <p class="col-md-8 fs-4" class="intro">and Dispensing Optician</p>
    </p>
  </div>
</div>

<div class="d-flex justify-content-center">
<button type="button" class="btn btn-outline-primary" ><a aria-current="page" href="{% url 'entry-list' %}">Log Your Cpd learning here</a></button>
<button type="button" class="btn btn-outline-secondary" ><a aria-current="page" href="{% url 'account_signup' %}">New user? Register today</a></button>
</div>

  <!-- START THE FEATURETTES -->  
  <hr> 

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Demonstrate dedication to your profession.</h2>
      <p class="lead">Maintains opticians' familiarity with current business trends and best practises, which helps them grow and improve their knowledge, 
        comprehension, and abilities. Opticians can stay current, offer outstanding customer service, and contribute to their colleagues' 
        success by investing in their continuous education.</p>
    </div>
    <div class="col-md-5">
      <img src="https://res.cloudinary.com/dgyi5uhu9/image/upload/v1693842921/dmitry-ratushny-wpi3sDUrSEk-unsplash_fjh8sp.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" aria-label="Placeholder: 500x500" alt="looking at diary through glasses"></a>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Become more effective in the workplace and advance your career.</h2>
      <p class="lead">Opticians benefit from opportunities for career progression since it makes them more productive at work
         and enables them to contribute meaningfully to their team.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="https://res.cloudinary.com/dgyi5uhu9/image/upload/v1693845192/harry-quan-G1iYCeCW2EI-unsplash_g930nn.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" aria-label="Placeholder: 500x500" alt="rainbow over eye">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Stay up-to-date with industry trends and best practices.</h2>
      <p class="lead"> It exhibits an opticians' commitment to their vocation, which is a crucial quality admired by both employers and clients.</p>
    </div>
    <div class="col-md-5">
      <img src="https://res.cloudinary.com/dgyi5uhu9/image/upload/v1693845450/harpreet-singh-ZI2Lv7jxmEM-unsplash_ipdbzp.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" aria-label="Placeholder: 500x500" alt="diagram of inner eye">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</main>

  </body>
</html>
{% endblock %}